[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
spacy = "*"
spacy-streamlit = "*"
st-annotated-text = "*"
pt-core-news-lg = {file = "https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-3.4.0/pt_core_news_lg-3.4.0.tar.gz"}

[dev-packages]
black = "*"

[requires]
python_version = "3.8"
